html {
  font-size: 62.5%;
}

body {
  background-color: var(--Yellow);
  font-family: "Figtree", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blog-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--White);
  max-width: 350px; 
  height: 50%;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0.7rem 0.7rem 0 0 black;
}

.blog-info .imagem {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.ilustracao {
  width: 90%;
  border-radius: 15px;
}

.blog-info .titulo {
  display: flex;
  background-color: var(--Yellow);
  align-self: baseline;
  border-radius: 5px;
  margin: 10px 25px;
}

.titulo .linha {
  display: flex;
  font-size: 1rem;
  margin: 7px;
  font-weight: 900;
}

.blog-info .publicacao {
  margin: 0 0 15px 25px;
  font-weight: 600;
}

.fundamentos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 15px 10px 25px;
  justify-content: left;
}

.fundamentos .html-css {
  margin-bottom: 10px;
  font-weight: 800;
}

.fundamentos .conteudo {
  font-weight: 600;
  max-width: 250px;
  margin-bottom: 5;
  line-height: 2rem;
}

.autor {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
}

.autor p {
  margin: 1rem;
  font-weight: 900;
}

.autor .imagem-fundador {
  max-width: 30px;
}

:hover.html-css {
  color: var(--Yellow);
}
